<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Table Tennis Ranking system{% endblock %}</title>
	</head>
    <style>
    .site-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #efefef;
        text-align: center;
    }
    </style>

	<body>
        <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
        {% if user.is_authenticated %}
            <p> Welcome, <strong> <a href="{% url 'profile_view' %}" >{{ user.first_name }} </strong></p>
            <a href="{% url 'logout_view' %}">Logout</a>
        {% else %}
            <p> Welcome, Buddy</p>
            <a href="{% url 'login_view' %}">Login</a>/<a href="{% url 'register_view' %}">Register</a>
        {% endif %}
        <br><br>
        <a href="{% url 'index' %}">Home</a>
        <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
		{% block body %}
		{% endblock %}
        <br><br><br><br><br><br><br><br><br><br>
        
<!--         <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
        <p>This is generic footer , EDIT ME.</p>
        <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p> -->
        
        <footer class="site-footer">
            This is generic footer, <strong> EDIT ME</strong>.
        </footer>
        


        
	</body>
</html>