{% extends 'base_TTR.html' %}


{% block title %}Table Tennis Ranking system - Login{% endblock %}


{% block body %}
	<h1>Welcome to Table Tennis Ranking system - Login</h1>
	<form role="form" action="{% url 'login_view'%}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div>
				<td>
					<label for="id_username">Username:</label>
					<input id="id_username" maxlength="30" name="username" type="text">
				</td>
			</div>
			<div>
				<td>
					<label for="id_password">Password:</label>
					<input id="id_password" maxlength="30" name="password" type="password">
				</td>
			</div>
            
            
            <div>
                <td>
                    <input type="hidden" name="next" value="{{ next_url }}">
                </td>
            </div>
			<div>
				<td>
					<button type="submit" >Login</button>
				</td>
                
			</div>
	</form>	
	
	
{% endblock %}

	